.topbar {
    display: flex;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    justify-content: space-between;
}

.topbar h2 {
    font-size: 24px;
}

 {
    display: flex;
    align-items: center;
}

.search input[type="text"] {
    padding: 8px;
    border: none;
    border-bottom: 2px solid #36A2EB;
    background: transparent;
    color: #fff;
    font-size: 16px;
    margin-right: 10px;
}


.sidebar {
    width: 250px;
    background-color: #333;
    padding-top: 20px;
    color: #fff;
}

.sidebar a {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
    padding: 10px 20px;
}


.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.card-text {
    font-size: 24px;
}


select {
    padding: 8px;
    font-size: 16px;
    border: 2px solid #36A2EB;
    border-radius: 5px;
}


canvas {
    width: 100%;
    height: auto;
}
